*.log
.DS_Store
.env
.env.backup
.env.production
.env-security
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/composer.phar
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/index.html
/public/storage
/storage/*.key
/storage/app/migrate.trigger
/storage/app/migrate.lock
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
